{{outlet}}
<button {{action 'back'}}>Back to Airplanes</button><br><br>
Add Airplane:  N Number{{textarea value=ident rows="1" cols='10'}}
<button {{action 'checkID' ident}}>Add</button>
<button {{action 'last' ident}}>Last</button>

