{{outlet}}
<h1>Michigan Airplanes</h1>
{{#if isAdmin}}
    Admin Functions:
    <button {{action 'toggleDelete'}}>{{if allowDelete 'Disable Delete' 'Allow Delete'}}</button>
{{/if}}
<button {{action 'checkPhoto'}}>Check Photo</button>
&emsp;&emsp;
{{#paper-select
  label="Sort by"
  selected=sortBy
  onChange=(action (mut sortBy))
  options=sortList
as |item|
}}
  {{item}}
{{/paper-select}}
&emsp;
{{#paper-select
  label="Class"
  selected=classFilter
  onChange=(action (mut classFilter))
  options=classList
as |item|
}}
  {{item}}
{{/paper-select}}
&emsp;
{{#paper-select
  label="Manufacturer"
  selected=mfgFilter
  onChange=(action (mut mfgFilter))
  options=mfgList
as |item|
}}
  {{item}}
{{/paper-select}}
&emsp;
{{#paper-select
  label="Airport"
  selected=airportFilter
  onChange=(action (mut airportFilter))
  options=airportList
as |item|
}}
  {{item}}
{{/paper-select}}
&emsp;
{{#paper-select
  label="Color"
  selected=colorFilter
  onChange=(action (mut colorFilter))
  options=colorList
as |item|
}}
  {{item}}
{{/paper-select}}

<br><br>

{{#if (eq showDlg "EDIT")}}
    {{#paper-dialog fullscreen=fullscreen onClose=(action "closeDlg") origin=dialogOrigin}}
        {{#paper-dialog-content}}
            <h2 class="md-title">Edit {{title}}</h2>
            {{#if (eq title 'Comment')}}
                {{textarea value=dlgData  rows="4" cols='80' onChange=(action (mut dlgData))}}
            {{/if}}
            {{#if (not-eq title 'Comment')}}
                {{paper-input placeholder=title autofocus=true value=dlgData onChange=(action (mut dlgData))}}
            {{/if}}
        {{/paper-dialog-content}}

        {{#paper-dialog-actions class="layout-row"}}
            <span class="flex"></span>
            {{#paper-button primary=true onClick=(action "closeDlg")}}Cancel{{/paper-button}}
            {{#paper-button primary=true onClick=(action "saveDlgData")}}Save{{/paper-button}}
        {{/paper-dialog-actions}}
    {{/paper-dialog}}
{{/if}}

{{#if (eq showDlg "DROPDOWN")}}
    {{#paper-dialog fullscreen=fullscreen onClose=(action "closeDlg") origin=dialogOrigin}}
        {{#paper-dialog-content}}
            <h2 class="md-title">Edit {{title}}</h2>
            {{#paper-select
                    getItems=onUserLoad placeholder=title value=dlgData onChange=(action (mut dlgData))
            }}
                {{#each dlgDropdown as |item|}}
                    {{#paper-option value=item}}
                        {{item}}
                    {{/paper-option}}
                {{/each}}
            {{/paper-select}}
        {{/paper-dialog-content}}

        {{#paper-dialog-actions class="layout-row"}}
            <span class="flex"></span>
            {{#paper-button primary=true onClick=(action "closeDlg")}}Cancel{{/paper-button}}
            {{#paper-button primary=true onClick=(action "saveDlgData" )}}Save{{/paper-button}}
        {{/paper-dialog-actions}}
    {{/paper-dialog}}
{{/if}}

{{#if (eq showDlg "NEW")}}
    {{#paper-dialog fullscreen=fullscreen onClose=(action "closeDlg") origin=dialogOrigin}}
        {{#paper-dialog-content}}
            <h2 class="md-title">Add New Airplane</h2>
            {{paper-input placeholder="ident" autofocus=true value=dlgData onChange=(action (mut dlgData))}}
        {{/paper-dialog-content}}

        {{#paper-dialog-actions class="layout-row"}}
            <span class="flex"></span>
            {{#paper-button primary=true onClick=(action "closeDlg" "cancel")}}Cancel{{/paper-button}}
            {{#paper-button primary=true onClick=(action "createNew")}}Save{{/paper-button}}
        {{/paper-dialog-actions}}

    {{/paper-dialog}}
{{/if}}

{{#if (eq showDlg "TEST")}}
    {{#paper-dialog fullscreen=fullscreen onClose=(action "closeDlg") origin=dialogOrigin}}
        {{#paper-dialog-content}}
            <h2 class="md-title">Edit {{title}}</h2>
            <p>Enter data here!</p>
            {{paper-input placeholder=title autofocus=true value=dlgData onChange=(action (mut dlgData))}}
            <div>
                {{#paper-checkbox value=flag onChange=(action (mut flag))}}Example Checkbox{{/paper-checkbox}}
            </div>
        {{/paper-dialog-content}}

        {{#paper-dialog-actions class="layout-row"}}
            <span class="flex"></span>
            {{#paper-button primary=true onClick=(action "closeDlg")}}Cancel{{/paper-button}}
            {{#paper-button primary=true onClick=(action "saveDlgData")}}Save{{/paper-button}}
        {{/paper-dialog-actions}}

    {{/paper-dialog}}
{{/if}}

{{#if (eq showDlg "NONE")}}
    <table>
        <tr>
            <th>#</th>
            <th {{action 'sort' "city"}}>City</th>
            <th {{action 'sort' "airport"}}>Airport</th>
            <th {{action 'sort' "photo"}}>Photo</th>
            <th {{action 'sort' "class"}}>Class</th>
            <th {{action 'sort' "ident"}}>Ident</th>
            <th {{action 'sort' "manufacturer"}}>Mfg</th>
            <th {{action 'sort' "type"}}>Type</th>
            <th {{action 'sort' "model"}}>Model</th>
            <th {{action 'sort' "year"}}>Year</th>
            <th>Reg</th>
            <th>Hist</th>
            <th>Comment</th>
            {{#if showDelete}}
                <th>Delete</th>
            {{/if}}
        </tr>

        {{#each sorted as |data index|}}
            <tr>
                <td>{{index}}</td>
                <td {{action 'editDlg' "city" data}}>{{data.city}}</td>
                <td {{action 'editDlg' "airport" data}}>{{data.airport}}</td>
                <td {{action 'editDlg' "photo" data}}>{{data.photo}}</td>
                <td {{action 'editDlg' "class" data}}>{{data.class}}</td>
                <td {{action 'editDlg' "ident" data}}>{{data.ident}}</td>
                <td {{action 'editDlg' "manufacturer" data}}>{{data.manufacturer}}</td>
                <td {{action 'editDlg' "type" data}}>{{data.type}}</td>
                <td {{action 'editDlg' "model" data}}>{{data.model}}</td>
                <td {{action 'editDlg' "year" data}}>{{data.year}}</td>
                <td><button {{action 'openWindow' data.ident}}>Reg</button></td>
                <td><button {{action 'openHist' data.ident}}>Hist</button></td>
                <td {{action 'editDlg' "comment" data}}>{{data.comment}}</td>
                {{#if showDelete}}
                    <td>
                        <button {{action 'delete' data}}>Delete</button>
                    </td>
                {{/if}}
            </tr>
        {{else}}
            ERROR: Can't find any data<br>
        {{/each}}

    </table>
{{/if}}