{{outlet}}
<h1>Oakland Airport</h1>
<h3>Links</h3>

<a href="http://www.dctaviation.com/piper-pa-28-151">DCT Aviation</a><br>
N113EJ 1977 Piper PA28-151 Warrior II &emsp;{{reg-link ident='N113EJ'}}<br>
N7830F 1978 Piper PA28-151 Warrior II &emsp;{{reg-link ident='N7830F'}}<br>
N2885B 1978 Piper PA28-161 Warrior II &emsp;{{reg-link ident='N2885B'}}<br>
N1689H 1977 Piper PA28-151 Archer II &emsp;{{reg-link ident='N1689H'}}<br>
N8570F 1978 Piper PA28-181 Archer II &emsp;{{reg-link ident='N8570F'}}<br>
N6288J 1976 Piper PA28-181 Archer II &emsp;{{reg-link ident='N6288J'}}<br>
N3553M 1978 Piper PA28-181 Archer II &emsp;{{reg-link ident='N3553M'}}<br>
N5337F 1977 Piper PA28-181 Archer II &emsp;{{reg-link ident='N5337F'}}<br>
N184ER 1978 Beechcraft BE76 Dutchess &emsp;{{reg-link ident='N184ER'}}<br>
<br>
NO LONGER:<br>
N8239V 1982 Piper PA28R-236 Arrow &emsp;{{reg-link ident='N8239V'}}<br>
N36458 1978 Piper PA28R-236 Arrow III &emsp;{{reg-link ident='N36458'}}<br>
N1663H 1982 Piper PA28R-236 Arrow III &emsp;{{reg-link ident='N1663H'}}<br>
N4886S 1971 Piper PA-32-260 Cherokee &emsp;{{reg-link ident='N4886S'}}<br>
N2930Y 1974 Piper PA-34-200 Seneca &emsp;{{reg-link ident='N2930Y'}}<br>

<br>
<a href="http://webpages.charter.net/wlfc_ptk/aircraft.html">Walled Lake Flyers Club Aircraft</a><br>
N75874 1977 Cessna 172N &emsp;{{reg-link ident='N75874'}}<br>
N42538 1968 Cessna 182L &emsp;{{reg-link ident='N42538'}}<br>
<br>
<a href="http://www.lolflyingclub.org/aircraft">Land-O-Lakes Flying Club</a><br>
N8428S 1981 Piper PA28-181 Archer &emsp;{{reg-link ident='N8428S'}}<br>
N914P  1983 Piper PA28-236 Dakota &emsp;{{reg-link ident='N914P'}}<br>
<br>
<a href="http://flight101ptk.com/">Flight 101 Aircraft</a><br>
N757MK Cessna &emsp;{{reg-link ident='N757MK'}}<br>
N755PR Cessna &emsp;{{reg-link ident='N755PR'}}<br>
N73455 Cessna &emsp;{{reg-link ident='N73455'}}<br>
N6274R Cessna &emsp;{{reg-link ident='N6274R'}}<br>
<br>


<a href="http://www.royalair.com/private-charter/private-jets.html">Royal Air Charter (Private Jets)</a><br>
Dassault FALCON 20F-5_N239CD 9 passenger<br>
Dassault FALCON 20F-5_N730RA 9 passenger<br>
King Air B-200 N220RA 7 passenger<br>
Learjet 35A N76RA 7 passenger<br>
Learjet 55C N559RA 6 passenger<br>
Learjet 55 N551RA 7 passenger<br><br>

<a href="http://www.royalair.com/freight.html">Royal Air Freight</a><br>
Dassault FALCON 20F-5_N239CD 9 passenger<br>
Dassault FALCON 20F-5_N730RA 9 passenger<br>
King Air B-200 N220RA 7 passenger<br>
Learjet 35A N76RA 7 passenger<br>
Learjet 55C N559RA 6 passenger<br>
Learjet 55 N551RA 7 passenger<br><br>

<a href="http://www.iflgroup.com/Home.aspx">IFL Freight</a><br>
Boeing 727-100 <br>
Boeing 727-200<br>
long range Falcon 20<br>
Convair 580<br>
Convair 5800<br><br>

<a href="https://www.aopa.org/CAPComm/flyingclubs/flyingclubfinder/PAFA/clubdetail/31317">American Eagle Flying Club</a><br>
We are a 2 aircraft 20 member flying club located at the Y47 airport.
Our aircraft are both 180hp 4 place Piper Cherokees.
All members must hold at least a Private Pilot license to join the club.
We have several CFI's in the club for IFR and other training.br><br>

<a href="http://www.iflgroup.com/Home.aspx">American Aviation</a><br>

TBD<br><br>

<a href="https://www.facebook.com/skyclubKPTK/?hc_ref=PAGES_TIMELINE">Sky Club</a><br>

TBD<br><br>

<a href="http://www.pentastaraviation.com/">Pentastar Aviation</a><br>

TBD<br><br>

<a href="http://www.oaklandair.com/">Oakland Air</a><br>

TBD<br><br>

<a href="http://www.barnstormerflightsupport.com/">Barnstormers</a><br>

TBD<br><br>

<h3>Aircraft Data</h3>
Operations Reported Year/Daily<br>
General Aviation transient:	65931/181<br>
General Aviation Local:	50289/138<br>
Air Taxi:	8762/24<br>
Commerical:	910/2<br>
Commuter:	0/0<br>
Military:	178/0<br><br>

<table style="width:40%">
    <tr>
        <th style="width:80%"><h3>Aircraft based on Field</h3></th>
        <th style="width:20%; text-align:center">Qty</th>
    </tr>
    <tr>
        <td>General Aviation Singles</td>
        <td>295</td>
    </tr>
    <tr>
        <td>General Aviation Multi</td>
        <td>107</td>
    </tr>
    <tr>
        <td>Jet Aircraft</td>
        <td>159</td>
    </tr>
    <tr>
        <td>Jet Helicopters</td>
        <td>10</td>
    </tr>
</table>

<h3>Airport Communications & Frequencies:</h3>
ATIS Frequencies:   125.025 <br>
PONTIAC Tower Frequencies:  120.5, 123.7 <br>
PONTIAC Ground Frequencies: 121.65, 121.9 <br>
Clearance Delivery Frequencies: 118.25 <br>
CTAF Frequency: 120.500 <br>
Unicom Frequency: 122.950 <br>
DETROIT Primary Approach Frequencies: 127.5, 363.2<br>
DETROIT Primary Departure Frequencies: 127.5, 239.275<br><br>

{{airport-list}}

