{{outlet}}
<h1>Oakland Airport</h1>
<h3>Links</h3>

<a href="http://eximiousflyingclub.org/">Eximious Flying Club</a><br>
N2299B 1977 Commander 114: $182/hr &emsp;{{reg-link ident='N2299B'}}<br>
<br>
<a href="http://warrenflyingclub.org/">Warren Flying Club</a><br>
N526BL - 1999 Cessna Skylane 182S &emsp;{{reg-link ident='N526BL'}}<br>
N9359H - 1976 Cessna Skyhawk 172M &emsp;{{reg-link ident='N9359H'}}<br>
N52219 - 1981 Cessna Skyhawk 172P &emsp;{{reg-link ident='N52219'}}<br>
<br>
NO LONGER:<br>
N526BL - 1999 Cessna 182S &emsp;{{reg-link ident='N526BL'}}<br>

<br>
<a href="https://troyoaklandpilots.org/">Troy Oakland Pilots Clubt</a><br>
N526BL - 1999 Cessna 182S: $TBD/hr &emsp;{{reg-link ident='N526BL'}}<br>
N9885M - Cessna 182P: $125/hr dry &emsp;{{reg-link ident='N9885M'}}<<br>
N6508K - Cessna 172P: $60/hr dry &emsp;{{reg-link ident='N6508K'}}<br>
N3562G - Piper PA28-181: $60/hr dry &emsp;{{reg-link ident='N3562G'}}<br>
<br>
NO LONGER:<br>
N64477 - Cessna 172M: $50/hr dry &emsp;{{reg-link ident='N64477'}}<br>
N737LM - Cessna TR182: $95/hr dry &emsp;{{reg-link ident='N737LM'}}<br>
<br>

OTHERS<br>
N19854 &emsp;{{reg-link ident='N19854'}}<br>
N28235 &emsp;{{reg-link ident='N28235'}}<br>
N5663W (Oakland) &emsp;{{reg-link ident='N5663W'}}<br>
N536DC (Bloomfield Hills) &emsp;{{reg-link ident='N536DC'}}<br>
N30100 (Bloomfield Hills) &emsp;{{reg-link ident='N30100'}}<br>
N717CT (new Cirrus) &emsp;{{reg-link ident='N717CT'}}<br>

<br><br>
{{airport-list}}